body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-print-color-adjust: exact;
    -color-adjust: exact;

}

a:hover{
    text-decoration: none;
}
.map-legend{
    background: #fff;

    padding: 15px;
    margin-top: 15px!important;


}
.map-legend1{
    background: #fff !important;
    padding: 10px;
    bottom: 60px;
}

.map-legend ul {
    list-style: none;
    padding-left: 0;
}
.map-legend .ar{
    padding-right: 0;
}
.map-legend .swatch {
    width:20px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}
.map-legend1 ul {
    list-style: none;
    padding-left: 0;
}
.map-legend1 .swatch {
    width:20px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    z-index: 0;
}
#map {
    height:680px;
    background: #eeeeee;
    width: 100%;

}



.leaflet-control-layers-expanded
{
    background: #ffffff!important;
    /*color: red!important;*/
}

.legend {
    background: #ffffff;
    line-height:1.5em;
}
.legend i {
    width: 5em;
    float:left;
}
.legend1 {
    background: #ffffff;
    line-height:1.5em;
    font-size: 11px!important;
}
.legend1 i {
    width: 5em;
    float:left;
}

.nopadding{
    padding-left: 0!important;
    padding-right: 0!important;
}
.left-side {
    padding-top: 15px;
    /*margin-top: 40px!important;*/
}
.left-side-bloc .bootstrap-select {
    width: 100%!important;
}
.left-side-bloc {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 11px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}
.left-side-bloc .btn{
    font-size: 12px;
}
.left-side-bloc h6,.top-right h6,h5 {
    margin-top: 0px !important;
    color: #009688 !important;
}
.left-side-bloc a {
    font-size: 14px;
}
/* style trouver une commune*/
.left-side-bloc-t .bootstrap-select {
    width: 100%!important;
}
.left-side-bloc-t {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 11px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}
.left-side-bloc-t .btn{
    font-size: 12px;
}
.left-side-bloc-t h6,.top-right h6,h5 {
    margin-top: 0px !important;
    color: #009688 !important;
}
.left-side-bloc-t a {
    font-size: 14px;
}

btn-block {
    display: block;
    width: 100%;
}

.marker-title{
    font-weight: bold;
}
/*.top-right {
    background: #f7ffed!important;
    min-width: 250px!important;
    max-width: 450px!important;
    padding: 15px;
    margin-left: 80px!important;
    position: absolute;
    border-radius: 10px;
    border:2px solid #555;
    z-index: -1000;

}*/
.top-right {
    background: #fff;
    width: 220px;
    padding: 15px;

    min-width: 250px!important;
    max-width: 450px!important;
    margin-left: 70px!important;
    position: absolute;
    z-index: -1000;
}

.top-left {
    background: #fff;
    width: 220px;
    padding: 15px;

    min-width: 250px!important;
    max-width: 450px!important;
    margin-right: 70px!important;
    position: absolute;
    z-index: -1000;
}

.datatable,.datatable1{
   width: 100%!important;
}
.app_bgcolor{
   background-color: #009688!important;
    color:#fff!important;
}
.app_color{
    color: #009688!important;
}
.panel-title {
    font-size: 14px !important;
}

.sc::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#helpModal #accordion .panel-heading [data-toggle="collapse"]:after
{
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #ccc;
    font-size: 12px;
    line-height: 22px;

    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
}
#helpModal #accordion .panel-heading [data-toggle="collapse"].collapsed:after
{
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
}


.custom {
    z-index: 9000000!important;
    position: absolute;
    border: 1px solid #00ee00!important;
   }
/********************************************************/

.select2-dropdown {
    z-index: 9001!important;
}
.leaflet-right .leaflet-control {
    /* margin-right: 10px; */
    background: #fff!important;
    color: #000!important;
}
.plus-info th {
    white-space: normal;
}
